.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.logo {
  width: 120px;
  height: 60px;
  margin: 3px 24px 3px 0;
  float: left;
}

.site-layout-background {
  background: #fff;
}

.ant-layout-sider-children p {
  margin: 0;
}
